[submodule "vendor/data-driven-characters"]
	path = vendor/data-driven-characters
	url = git@github.com:b08x/data-driven-characters.git
[submodule "vendor/narrator"]
	path = vendor/narrator
	url = git@github.com:b08x/narrator.git
[submodule "vendor/prompt-lesson-plan"]
	path = vendor/prompt-lesson-plan
	url = git@github.com:b08x/prompt-lesson-plan.git
