/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/site/
/spec/reports/
/tmp/
/Gemfile.lock
.env
/docker/data/
/ansible/
/log/
/images/
/env/
.ipynb_checkpoints/
*.log
.kodiak.toml
.overcommit.yml
.prettierignore
.rubocop.yml
**/**/.env
